/*

color amarillo: #ffc107
color gris oscuro: #212121
color blanco: #f5f5f5
*/

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

/*////////////////////header//////////////////////*/

body {
  background-color: #f5f5f5;
}

.header {
  background-color: #212121;
  height: 87px;
}

.header .logo {
  display: inline-block;
  color: #f5f5f5;
  padding: 20px;
  font-size: 40px;
  text-decoration: none;
}

.header .logo:hover {
  color: #ffc107;
  transition: 1s;
}

/*/////////////////////Nav/////////////////////*/

ul {
  float: right;
  display: flex;
}

ul li {
  display: inline-block;
  margin: auto;
  padding: 27px;
}

ul li a {
  text-decoration: none;
  font-size: 25px;
  color: #f5f5f5;

  text-transform: uppercase;
}

ul li a:hover {
  color: #ffc107;
  transition: 0.8s;
}

/*//////////////////////////Main///////////////////////*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 20px;
  grid-auto-rows: 340px;
  width: 100%;
  padding: 30px;
  justify-content: center;
  box-sizing: border-box;
}

/*//////////////////////cards//////////////////////*/

.card {
  width: 250px;
  height: 340px;
  transition: 0.5s;
  filter: grayscale(100%) brightness(20%);
}

.card:hover {
  transform: scale(1.03);
  filter: none;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 340px;
  transition: all o.6s ease-out;
  border-radius: 5px;
}

.capa {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 80%
  );
  opacity: 0;
  color: whitesmoke;
  visibility: hidden;
  text-align: center;
  transition: all 0.6s ease-out;
  border-radius: 5px;
}

.card:hover > .capa {
  opacity: 1;
  visibility: visible;
}
.capa h3 {
  margin-top: 140px;
}
